@font-face {
  font-family: SF Pro Rounded Heavy;
  src: url(./fonts/SF-Pro-Rounded-Heavy.otf);
  font-display: swap;
}

@font-face {
  font-family: SF Pro Rounded Semibold;
  src: url(./fonts/SF-Pro-Rounded-Semibold.otf);
  font-display: swap;
}

@font-face {
  font-family: SF Pro Rounded Heavy Placeholder;
  src: local("Arial");
  ascent-override: 88.96%;
  descent-override: 22.54%;
  line-gap-override: 0%;
  size-adjust: 107.03%;
}

@font-face {
  font-family: SF Pro Rounded Semibold Placeholder;
  src: local("Arial");
  ascent-override: 95.89%;
  descent-override: 24.29%;
  line-gap-override: 0%;
  size-adjust: 99.29%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "SF Pro Rounded Semibold", "SF Pro Rounded Semibold Placeholder",
    "-apple-system", "BlinkMacSystemFont", sans-serif;
  font-size: 19px;
  letter-spacing: 0.66px;
  color: #1b1524;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
