@font-face {
  font-family: SF Pro Rounded Heavy;
  src: url(./fonts/SF-Pro-Rounded-Heavy.otf);
  font-display: swap;
}

@font-face {
  font-family: SF Pro Rounded Semibold;
  src: url(./fonts/SF-Pro-Rounded-Semibold.otf);
  font-display: swap;
}

@font-face {
  font-family: SF Pro Rounded Heavy Placeholder;
  src: local("Arial");
  ascent-override: 88.96%;
  descent-override: 22.54%;
  line-gap-override: 0%;
  size-adjust: 107.03%;
}

@font-face {
  font-family: SF Pro Rounded Semibold Placeholder;
  src: local("Arial");
  ascent-override: 95.89%;
  descent-override: 24.29%;
  line-gap-override: 0%;
  size-adjust: 99.29%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "SF Pro Rounded Semibold", "SF Pro Rounded Semibold Placeholder",
    "-apple-system", "BlinkMacSystemFont", sans-serif;
  font-size: 19px;
  letter-spacing: 0.66px;
  color: #1b1524;

  background-color: #fcf9ff;
  user-select: none;

  /* Prevents the Safari webpage swiping. */
  touch-action: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --primary-background: #ffffff;
  --primary-text: #ffffff;
  --secondary-text: #1b1524;
  --secondary-text-alt: #1b152444;
}

.primary-container {
  height: 100vh;

  padding: 32px 24px;
  box-sizing: border-box;

  background: var(--primary);
  transition: background 400ms ease-in-out;

  display: flex;
  flex-direction: column;

  align-items: stretch;
  justify-content: flex-start;
  gap: 32px;
}

.big-text-primary {
  font-family: "SF Pro Rounded Heavy", "SF Pro Rounded Heavy Placeholder",
    "-apple-system", "BlinkMacSystemFont", sans-serif;
  font-size: 64px;
  /* color: #1b1524; */
  color: var(--secondary-text);
}

.text-color-secondary {
  color: var(--secondary-text-alt);
}

.primary-number-input-container {
  position: relative;
  background: var(--primary-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin: 0 auto;
  text-align: center;
  width: 60%;
  max-height: 205px;

  transition: all 500ms cubic-bezier(0.11, 0.39, 0.245, 0.955);

  border-radius: 24px;
  padding: 32px 24px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

  z-index: 2;
}

.primary-number-input {
  /* Only if I can get the changes to animate */
  /* font-variant: tabular-nums; */

  margin-block: 18px 18px;
  transition: all 300ms cubic-bezier(0.11, 0.39, 0.245, 0.955);
}

.hidden-input {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

.primary-categories {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 14px;
}

.primary-category-item {
  padding: 12px 12px 14px;
  text-align: center;
  font-size: 15px;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2px;

  background: var(--primary-alt);
  color: var(--primary-text);

  outline: 3px solid #ffffff00;
  outline-offset: 0px;
}

.category-emoji {
  font-size: 28px;
}

@media (max-height: 750px) {
  .category-emoji {
    display: none !important;
  }
}
@media (max-height: 680px) {
  .primary-number-input-container {
    padding: 18px 24px;
  }
  .primary-number-input {
    margin-block: 0px 4px;
  }
}

.focused-category-outline {
  outline: 3px solid var(--primary-alt);
  outline-offset: 3px;
}

.primary-category-item span {
  display: block;
}

.primary-submittions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
}

.primary-button {
  padding: 14px 32px;
  border-radius: 1000px;
  background: #ffffff;
  width: 100%;

  font-size: 18px;
  font-weight: 500;
  font-family: "SF Pro Rounded Semibold", "SF Pro Rounded Semibold Placeholder",
    "-apple-system", "BlinkMacSystemFont", sans-serif;
  letter-spacing: 0.66px;
  color: #1b1524;
  border: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  transition: all 200ms ease-in-out;
  outline: 2px solid #ffffff00;
  outline-offset: 0px;
}
.primary-button:active {
  transition: all 75ms ease-in-out;
  transform: scale(0.98);
}
.primary-button:disabled {
  transform: scale(1) !important;
  opacity: 0.5;
}

.funky-button-styles {
  background: linear-gradient(0deg, #0d7cd3, #4da6eb);
  border: 1px solid #3b86c2;
  color: #ffffff;
}

.primary-footer {
  background: var(--footer-background);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 78px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px -1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  color: #ffffff;

  transition: background 400ms ease-in-out;

  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 0px;

  padding-bottom: 18px;
  z-index: 3;
}

.primary-footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-size: 12px;
  margin-top: -8px;

  opacity: 0.35;
  transition: all 100ms ease-in-out;
}

.primary-footer-item svg {
  /* Unused right now */
  transform: scale(1);
}

.primary-footer-item-active {
  opacity: 1;
}

.item-not-selected {
  opacity: 0.25 !important;
}

.primary-interaction-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 32px;
  align-items: stretch;

  height: calc(100% - 210px - 78px - 32px - 48px - 24px - 18px);
}

.primary-top-container {
  height: 48px;
  margin-bottom: -8px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.tab-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 18px;
  width: 100%;

  font-family: "SF Pro Rounded Heavy", "SF Pro Rounded Heavy Placeholder",
    "-apple-system", "BlinkMacSystemFont", sans-serif;
  font-size: 32px;
  letter-spacing: 0.66px;
  color: #ffffff;
}

.secondary-rounded-container {
  padding: 12px 24px;
  border-radius: 1000px;
  background: #ffffff55;
  width: fit-content;

  font-family: "SF Pro Rounded Heavy", "SF Pro Rounded Heavy Placeholder",
    "-apple-system", "BlinkMacSystemFont", sans-serif;

  color: var(--primary-alt);
  font-size: 16px;
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.025) 0px 4px 6px -2px; */

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.secondary-rounded-container svg {
  transform: scale(0.9);
}

.category-byline {
  color: #ffffff8f;
}

/**
 * History Tab
 */

.tab-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;

  padding-bottom: 96px;
}

.history-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  width: 100%;

  background: var(--primary-alt);
  border-radius: 12px;
  padding: 18px 24px;
  box-sizing: border-box;
  color: #ffffff;

  transition: all 400ms ease-in-out;
}

.history-group-title {
  font-size: 24px;
}

.history-group-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  margin-bottom: 6px;
}

.history-inner-group-title {
  position: relative;
  font-size: 12px;
  width: fit-content;
  /* background: #aa88e1; */
  background: var(--primary-alt);
  color: #ffffff8f;
  padding: 4px 8px;
  border-radius: 24px;
  text-align: center;
  margin: 0 auto;
  z-index: 1;
}

.history-inner-group-title-outer {
  position: relative;
  width: 100%;
  text-align: center;
}

.history-inner-group-title-outer::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: calc((22.5px / 2) - 1.5px);
  height: 3px;
  border-radius: 12px;
  background: var(--primary);
  width: 100%;
}

.history-category {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.history-category-outer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  gap: 0px;
}

.history-category-byline {
  color: #ffffff8f;
  font-size: 13px;
}

.history-inner-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
  width: 100%;
}

.history-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;

  transition: all 200ms ease-in-out;
}

.history-group-costs {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2px 8px;

  font-size: 13px;
  color: #ffffff8f;
}

.history-group-costs-large {
  font-size: 16px;
  color: #ffffff8f;
}

.history-group-costs span {
  text-align: right;
  font-variant: tabular-nums;
}

.history-category-name {
  font-size: 17px;
  color: #ffffff;
}

.history-category-empty-results {
  font-size: 17px;
  color: #ffffff8f;
  text-align: center;
  margin: 0 auto;
}

.history-cost {
  font-size: 17px;
  color: #ffffff;
}

/**
 * Overview
 */

.dropdown-core-outer {
  margin: 2px auto 12px;
  gap: 6px;
  padding: 5px 18px;
  background: #ffffff;

  font-size: 18px;
  font-weight: 500;
  font-family: "SF Pro Rounded Semibold", "SF Pro Rounded Semibold Placeholder",
    "-apple-system", "BlinkMacSystemFont", sans-serif;
  letter-spacing: 0.66px;
  color: #1b1524;

  outline: none;
  border: 0;
}

.dropdown-core {
  gap: 6px;
  padding-inline: 0px;
  padding-block: 8px;
  height: 38px;

  font-size: 18px;
  font-weight: 500;
  font-family: "SF Pro Rounded Semibold", "SF Pro Rounded Semibold Placeholder",
    "-apple-system", "BlinkMacSystemFont", sans-serif;
  letter-spacing: 0.66px;
  color: #1b1524;

  outline: none;
  border: 0;
}

.overview-header {
  margin: 0px auto 0;
  color: #ffffff;
}

.overview-header-byline {
  margin: -4px auto 0px;
  font-size: 17px;
  color: #ffffff8f;

  background: var(--primary-alt);
  padding: 10px 18px;
  border-radius: 32px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.overview-header-byline svg {
  transform: scale(0.95);
}

.overview-items-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;

  margin-top: 12px;
}

.overview-item {
  position: relative;
  background: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 16px 20px;

  color: #ffffff;
  overflow: hidden;
}

.overview-item-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  box-sizing: border-box;
  z-index: 1;
}

.overview-item-byline-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 1;
}

.overview-item-fill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: var(--primary-alt);
  border-radius: 16px;

  /**
   * Prevents border radius jank.
   * `minWdith > radius * 2`
   */
  min-width: 32px;

  width: 0px;
  transition: all 600ms cubic-bezier(0.085, 1, 0.485, 0.985);
}

.overview-item-category {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.overview-item-byline-category {
  color: #ffffff8f;
  font-size: 14px;
}

/**
 * Settings
 */

.settings-group-grid,
.settings-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;

  margin-block: 12px 24px;
  width: 100%;
}

.settings-group-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.fit-content {
  width: fit-content;
}

.settings-button {
  padding: 10px 18px;
  font-size: 14px;
}

.settings-group-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-fit-size {
  width: fit-content;
}

.settings-group-main-long-item,
.settings-group-long-item {
  text-align: center;
  font-size: 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 2px;
}

.hr {
  background: var(--primary);
  width: 100%;
  height: 4px;
  border-radius: 100px;
  margin: 12px auto 8px;

  transition: all 400ms ease-in-out;
}

.settings-group-main-long-item {
  font-size: 19px;
  width: 100%;

  padding-inline: 8px;
}

.settings-group-primary-text {
  font-size: 16px;
}

.settings-item-byline {
  color: #ffffff8f;
  font-size: 19px;
}

.focused-outline {
  outline: 2px solid #ffffff;
  outline-offset: 2px;
}

/**
 * Animations
 */

.pop-press {
  animation-duration: 200ms;
  animation-name: poppress;
  animation-timing-function: cubic-bezier(0.18, 0.825, 0.2, 0.945);

  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes poppress {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  10% {
    transform: translateY(3px);
    opacity: 0.2;
  }
  20% {
    transform: translateY(6px);
    opacity: 0.4;
  }
  40% {
    transform: translateY(5px);
    opacity: 0.7;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
